{% extends 'base.html' %}

{% block menu %}
      <a class="selected" href="/add">Add Word</a>
      <a href="/view">View Words</a>
      <a href="/rand">Random</a>
{% endblock %}

{% block content %}
    <div id="addword" class="form">
      <form action="/add" method="get">
        <fieldset>
          <input name=word type="text" autocapitalize="none" placeholder="Enter word" autofocus />
          <textarea name="definition" placeholder="Enter definition"></textarea>
        </fieldset>
        <input type="submit" value="Add to WordMaster" />
      </form>
    </div>
{% endblock %}
