<!DOCTYPE html>
<html>

  <head>
    <title>WordMaster</title>
    <link rel=stylesheet href="/static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="nav">
      {% block menu %}{% endblock %}
    </div>
    <div id="summary">
      Words in dictionary: {{ word_count }}
    </div>
    <div id="message" class="{{ msg_kind }}">{{ message|safe }}</div>
    {% macro word_tiles() -%}
      <div id="container">
      {% for w in words %}
      <div class="wordgroup">
        <div class="word">{{ w.word }}</div>
        <div class="definition">{{ w.definition }}</div>
        <div class="delete"><a href="{{url_for('delete_word', name=name, word=w.word)}}">&#10006;</a></div>
      </div>
      {% endfor %}
    </div>
    {%- endmacro %}

    {% block content %}
    {% endblock %}
  </body>

</html>

